body{
	background: #DCDCDC;
	margin: 0px;
}
h1{
    margin: 0px ;
}
a{
	text-decoration: none;
}
a:link{
			color: white;
		}

         /*Links  Hover, passa o cursor sobre o link*/
a:hover{
			color:#DAA520;
			background: white;
		}
		   /*Links  Ativos, quando clicado*/
a:active{
			color: #e4f371;
		}

#corpoTexto{
	width: 1500px;
	/*border: 1px solid red;*/
}

#cabecalho{
	background-color:#DAA520;
	opacity: 0.3;
	padding: 10px;
	margin: 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}
#titulo-cabecalho{
   font-size: 30px;
}

#links-cabecalho{
   padding: 20px 50px;
   margin: 30px;
   text-decoration: none;

 }

#bloco1{
	width: 900px;
   background-color: white;
   padding: 15px;
   display: inline-block;
}
#bloco2{
	background-color: white;
	float: right;
	width: 400px;
	padding: 10px;
	position: absolute;
	left: 1000px;
	top: 280px;
}
#bloco3{
	background-color: white;
	float: right;
	width: 400px;
	padding: 10px;
	position: absolute;
	left: 1000px;
	top: 580px;
}
#rodape{
	background-color:#A9A9A9 ;
	width: 900px;
	display: block;
	padding: 15px;
	
}


.corAmarelo{
	color:#DAA520;
}
.tituloCinza{
	background-color: #A9A9A9;
	padding: 5px;
}
.leiaMais{
	color: #DAA520;
	text-decoration: none;
	padding: 0px;
	font-size: 0px;
}
.link2{
	
	color: white;
	text-decoration: none;
	padding: 30px;
	font-size: 20px;

}
.link3{
font-size: 15px;
}