body{
    font-size: 30px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#um{
    background-color: red;
}

#dois{
    background-color: blue;
}

#tres{
    background-color: green;
}

#quatro{
    background-color: yellow;
}

@media (max-width: 600px) {
  body {
    background: red;
  }

}
@media (max-width: 1000px) {
  body {
    background: blue;
  }
  
}