body{
    font-size: 30px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#um{
    background-color: red;
}

#dois{
    background-color: blue;
}

#tres{
    background-color: green;
}

#quatro{
    background-color: yellow;
}