ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 720px;
	background: #159cb0 url("../imagens/fundo-horizontal.png") repeat-X;
	float: left;
	
}
ul li{
	float: left; /*deixa os itends na horizontal */
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
    text-decoration: none;
    color: #fff;
	background: url("../imagens/divisor.png") repeat-y;
}

ul #primeiro a{

	background: none;
}

ul a:hover{
	background:#44cade;
	color:#085662 ;
}