*{
  font-family: system-ui;
  padding: 0px;
  margin: 0px;
}
body{
    background-color: #EDE6F2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
   background-color: #4B2C5E;
   color: white;
   text-align: center;
   border-radius: 30px 30px 0px 0px;
   padding: 5px;
}
nav{
   background: linear-gradient(135deg, #4B2C5E, #6D3E7E);
    text-align: center;
    width: 730px;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
}
main{
    background-color:  #F7F2FA;
    padding: 25px;

}
footer{
    background-color: #c3ccaf ;
     border-radius: 0px 0px 30px 30px;
     text-align: center;
     color: #a51a41;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav{
    padding: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#conteudo_card{

    width: 43%;
    border: 3px solid white;
    border-radius: 30px; 
    box-shadow: 10px 5px 5px black;

 
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}
#imagem_perfil{
     border-radius: 80%;
     box-shadow: 10px 5px 5px black;
}
#textoPrincipal{
   color: #2E2E2E;
}

.corsub{
    color:"#5F5F5F";
}