*{
  font-family: system-ui;
  padding: 0px;
  margin: 0px;
}
body{
    background-color: #c3ccaf ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
   background-color: #311d39;
   color: white;
   text-align: center;
   border-radius: 30px 30px 0px 0px;
   padding: 15px;
}
nav{
    background-color: #67434f ;
    text-align: center;
    width: 730px;
    border-radius: 30px 30px 30px 30px;
}
main{
    background-color:  #9b8e7e ;
    padding: 15px;
}
footer{
    background-color: #c3ccaf ;
     border-radius: 0px 0px 30px 30px;
     text-align: center;
     color: #a51a41;
}
hr{
    width: 500px;
    height: 5px;
    color: white;
    background-color: white;
    border-radius: 0px 30px 0px 0px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav{
    padding: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#conteudo_card{

    width: 43%;
    border: 3px solid white;
    border-radius: 30px; 
    box-shadow: 10px 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}
#imagem_perfil{
     border-radius: 80%;
     box-shadow: 10px 5px 5px black;
}
