*{
  font-family: system-ui;
  padding: 0px;
  margin: 0px;
}
body{
    background-color: #EDE6F2 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
   background: linear-gradient(135deg, #4B2C5E, #6D3E7E);
   color: white;
   text-align: center;
   border-radius: 30px 30px 0px 0px;
   padding: 5px;
}
nav{
   background: linear-gradient(135deg, #4B2C5E, #6D3E7E);
    text-align: center;
    width: 730px;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
}
main{
    background-color:  #F7F2FA;
    padding: 25px;

}
footer{
   
     border-radius: 0px 0px 30px 30px;
     text-align: center;
     color: #4B2C5E;
     font-size: 15px;
     padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav{
    padding: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
}
ul{
    display: flex;
    padding: 15px 0px;
}
summary{
     background: linear-gradient(135deg, #4B2C5E, #6D3E7E);
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15); 
}


details{
    display: flex;
     flex-direction: row;
     justify-content: center;
}

figure{
    padding: 10px;
}
.corsub{
    color:#5F5F5F;
}

#conteudo_card{

    width: 43%;
    border: 3px solid white;
    border-radius: 30px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}
#imagem_perfil{
     border-radius: 80%;
     box-shadow: 10px 5px 5px black;
}
#textoPrincipal{
   color: #2E2E2E;
}


